body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#menu {
  padding: 10px;
  max-height: 150px;
}

h3 {
  display: inline-block;
}

footer {
  padding: 10px

}

.create-form {
  padding: 10px;
  width: 400px;
}

.read-table {
  padding: 10px;
}

#navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
}

h6 {
  color: blue;
}