body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#textInput {
  height: 100px;
}

#movieCards {
  max-width: 1200px;
}

#bg {
  background-color: rgb(128, 226, 160);
  padding: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}

